:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: rgb(248, 250, 246);
}

a:hover {
  color: rgb(140, 197, 84);
}

body {
  min-width: 600px;
  min-height: 100vh;
  font-size: 14px;
  font-weight: 500;
  background-color: rgba(55, 189, 59, 0.5);
  margin: 0;
}
.App {
  padding: 0vw 2vw;
}

button {
  background-color: blue;
  color: ghostwhite;
  transition: all 0.1s ease-in-out;
}

button:hover {
  transform: translateY(-0.5px);
  box-shadow: 0px 5px 10px rgb(54, 69, 105);
}

button:active {
  transform: translateY(0.5px);
  box-shadow: 0px 2px 5px rgb(54, 69, 105);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.account {
  display: flex;
  flex-wrap: wrap;
}

.searchBarDiv,
.header,
.header2,
.tabs {
  display: flex;
  height: min-content;
  user-select: none;
}

.header {
  justify-content: space-between;
  background-color: rgb(32, 35, 37);
  margin: 7px 0px;
  display: flex;
  outline: solid black;
  border-top: none;
}

.header > div:nth-of-type(1) {
  max-width: 22%;
  margin-right: 3%;
  margin: auto;
  font-size: 23px;
}
.logo {
  background-color: black;
  text-shadow: -1px -1px 0 gold, 1px -1px 0 gold, -1px 1px 0 gold,
    1px 1px 0 gold;
  color: black;
  font-family: "Permanent Marker", cursive;
  border: 5px solid;
  outline: black solid;
  border-image: linear-gradient(90deg, #538d55 0%, #213547 100%);
  border-image-slice: 1;
  border-left: none;
}
.header > div:nth-of-type(2) {
  width: 50%;
}

.header > div:nth-of-type(3) {
  width: 25%;
}

.header2 {
  justify-content: space-evenly;
  background-color: #213547;
  outline: solid black;
  border-radius: 0px;
  align-items: center;
}

.header2 > div {
  width: auto;
}

.tabs {
  background-color: #213547;
  outline: solid black;
  border-radius: 0px !important;
  min-width: max-content;
}

.tabs > div {
  border-right: solid black;
  width: 100%;
  min-width: max-content;
}
.tabs > div:nth-of-type(4) {
  border-right: none;
}

@media (min-width: 1000px) {
  .App {
    padding: 0vw 15vw;
  }
}

@media (min-width: 1500px) {
  .App {
    padding: 0vw 20vw;
  }
}

.title {
  width: 100%;
  background-color: #213547;
  outline: solid black;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
    2px 2px 0 black;
  height: 20px;
  margin: 7px 0px;
  border-radius: 10px;
  z-index: 3;
  color: gold;
}
.title:nth-of-type(1) {
  margin-top: 15px;
}
.less {
  width: 90% !important;
  margin: auto;
}
.subTitle {
  width: 100%;
  display: flex;
  font-size: smaller;
  color: gold;
}
.header,
.header2,
.tabs,
.section,
.notes,
.newNoteField,
.newNoteBtn,
.clearSearch,
.searchBarDiv,
.otherSites,
.title,
.accountFromList,
.footer,
.allThingsSection {
  box-shadow: 5px 5px 10px #14171b, -5px -5px 10px #3b3c41;
  user-select: none;
}

.notesDiv {
  padding-bottom: 3.5vh;
}
.newNoteField,
.newNoteBtn,
.tabs {
  border-radius: 10px;
}

.notes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  outline: solid black;
}

.note,
.id,
.time {
  outline: solid black;
  font-weight: 400;
}

.note {
  width: 68%;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 2%;
}

.id {
  width: 10%;
  margin: 0;
  background-color: #213547;
}

.time {
  width: 20%;
  margin: 0;
  background-color: #3d4e5d;
}

.note {
  background-color: #213547;
}

.newNoteDiv {
  display: flex;
  justify-content: space-between;
}

.newNoteField {
  width: 77%;
  margin: 20px 0px;
  margin-right: 2%;
  background-color: ghostwhite;
  color: black;
  border: solid black;
  outline: solid white;
  padding: 5px 1%;
}

.newNoteBtn {
  width: 20%;
  margin: 20px 0px;
  border: solid black;
  outline: solid white;
  font-size: large;
}

.otherBg {
  background-color: black !important;
}

.a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.a > img {
  max-width: 40px;
  max-height: 40px;
}

.otherSites {
  height: 3vh;
  background-color: #213547;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  outline: solid black;
}

.accountFromList {
  display: flex;
  justify-content: space-around;
  padding: 5px 0px;
  background-color: #14171b;
  outline: ghostwhite solid;
}
.accountFields {
}
.searchBarDiv {
  background-color: rgb(54, 69, 105);
  display: flex;
  flex-wrap: wrap;
  outline: black solid;
  margin: 7px 0px;
}
.searchBy {
  width: 27%;
  margin: 1.5%;
  display: flex;
  height: 3.3vh;
  margin-right: 0%;
  justify-content: space-around;
  align-items: center;
  border: solid black;
  outline: solid ghostwhite 2px;
}

.searchBy > label {
  min-width: max-content;
}

.searchBar {
  background-color: ghostwhite;
  color: black;
  width: 40%;
  padding: 0;
  height: 3.3vh;
  align-self: center;
  text-align: left;
  margin: 0;
  border: solid black;
  outline: solid ghostwhite 2px;
}

.searchBtn,
.clearSearch {
  width: 28%;
  margin: 1.5%;
  margin-left: 0%;
  height: 4vh;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  border-radius: 0px 10px 10px 0px;
  border: solid black;
  border-left: none;
  outline: solid ghostwhite 2px;
}
.clearSearch {
  background-color: red;
  border: solid black;
  width: 28%;
  border-radius: 10px;
  margin: 1.5%;
  margin: 10px auto;
}
.results {
  width: 100%;
  height: max-content;
}
.notFound {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.notFound > div:nth-of-type(1) {
  font-size: xx-large;
  width: 80%;
  margin: 0 auto;
  height: 50%;
  background-color: red;
  padding-top: 20px;
}
.notFound > div:nth-of-type(2) {
  font-size: small;
  width: 80%;
  margin: 0 auto;
  height: 50%;
  background-color: red;
  padding-bottom: 50px;
  padding-top: 30px;
}
.goldColor {
  color: gold;
}
.footer {
  bottom: 0;
  margin-top: auto;
  height: 3.5vh;
  width: 100%;
  background-color: #213547;
  border-top: solid black;
  position: fixed;
}
.homePage,
.aboutPage,
.accountsPage,
.notFound {
  min-height: 90.9vh;
}
.help-container {
  position: relative;
  display: inline-block;
}

.help-dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  padding-top: 12px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-top: none;
}

.help-container:hover .help-dropdown {
  display: block;
}

.help-dropdown a {
  display: block;
  padding: 8px 10px;
  background-color: #213547;
  color: ghostwhite;
  text-decoration: none;
  border: black solid;
}

.help-dropdown a:hover {
  background-color: #2e3f4d;
}
.addAddressDiv > form,
.addNumberDiv > form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.addNumberDiv > form > div {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.addAddressDiv > form > :nth-child(1) {
  min-width: 80% !important;
}
.addAddressDiv > form > button,
.addNumberDiv > form > button {
  height: 30px;
  width: 50%;
  border-radius: 2rem;
  margin: 20px 0px;
  border: solid black;
}
.addNumberDiv > form > div > input {
  width: 100%;
  text-align: end;
}
.addNumberDiv,
.addAddressDiv {
  background-color: #213547;
}
#newAddressInput {
  min-width: max-content;
}
.allThingsSection {
  display: flex;
  border: solid black;
  margin: 20px 0px;
  margin-bottom: 30px;
}
.allThingsSection > * {
  width: 92%;
  padding: 0 2%;
}
form > div > img,
.allGoodAddresses > div > img {
  height: 20px;
}

.allGoodAddresses > div,
form > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 5px 0px;
  width: 100%;
}
.allGoodNumbers,
.allGoodAddresses {
  padding: 15px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.addNumberDiv,
.addAddressDiv {
  padding: 5px 10px;
}
.allGoodNumbers > div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5px;
}
.allGoodNumbers > div > img,
.addNumberDiv > form > div > img {
  height: 20px;
}

.allGoodNumbers > div > input {
  min-width: 100px;
  width: 30%;
  text-align: center;
}
.homepage-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 88vh;
  margin-top: 2vh;
  background-color: #171717;
}

.homepage-component__title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.homepage-component__subtitle {
  font-size: 14px;
}

.homepage-component__button {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  background-color: rgb(140, 197, 84);
  color: #0c0c0c;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease;
}

.homepage-component__button:hover {
  background-color: #538d55;
}
.disposition {
  display: flex;
  margin: auto;
  justify-content: space-between;
  padding: 10px 0px;
}
select {
  width: 50%;
  background-color: #242424;
  outline: solid black;
}
.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  border: solid black;
  border-radius: 0px 0px 10px 10px;
  background-color: rgb(32, 35, 37);
  width: 100%;
  background-color: rgb(32, 35, 37);
  padding: 7px;
  margin-bottom: 7px;
}
input {
  overflow: hidden;
  text-align: end;
  height: 12px;
  color: ghostwhite;
  background-color: #242424;
  font-weight: 700;
  outline: solid black;
}
input:hover {
  background-color: #383636;
  outline: solid rgb(55, 189, 59) 2px;
  z-index: 2;
}
.beforeInput {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: max-content;
  background-color: rgba(55, 189, 59, 0.5);
  color: white;
  height: 17px;
  font-weight: 500;
  outline: black solid;
  margin: 2px auto;
}
.beforeInput > img {
  height: 20px;
  background-color: #08311e;
  border-radius: 35%;
}
.RELATIVE_5,
.RELATIVE_5_ADDY,
.TLO_ADDRESS_2,
.TLO_CITY_2,
.TLO_STATE_2,
.TLO_POE,
.TLO_POE_NUMBER,
.EMPLOYER,
.RENT_AMOUNT,
.LANDLORD_PHONE_NUMBER {
  margin-bottom: 15px !important;
}
.PRINCIPAL,
.PAYMENTS,
.BALANCE,
.LINKED_BALANCE,
.ACCOUNT_TYPE,
.STATUS,
.CREDITOR,
.ACCOUNT_NUMBER,
.ORIGINATED,
.ACCOUNT_RECEIVED,
.IMPORTED_ON,
.COLLECTOR,
.CLIENT_CLAIM_NUMBER,
.CHARGED_OFF,
.PURCHASED,
.QUEUE,
.LAST_PAYMENT,
.NEXT_WORK,
.DEBTOR_PMT_ID,
.REFERRING,
.AGE,
.DELINQ_1,
.PAYMENT_PORTAL,
.LAST_PAYMENT,
.DATE_LAST_PAYMENT,
.DATE_OF_LAST_CHARGE,
.SALES_REP,
.RELATIVE_1,
.RELATIVE_1_ADDY,
.RELATIVE_2,
.RELATIVE_2_ADDY,
.RELATIVE_3,
.RELATIVE_3_ADDY,
.RELATIVE_4,
.RELATIVE_4_ADDY,
.RELATIVE_5,
.RELATIVE_5_ADDY,
.RENT_AMOUNT,
.LANDLORD_PHONE_NUMBER,
.BANK_ACCT_NAME,
.BANK_ROUTING,
.BANK_ACCT_NUMBER,
.LAST_PAYMENT,
.DATE_LAST_PAYMENT,
.DATE_OF_LAST_CHARGE,
.SSN,
.DOB,
.ACTION_CODES,
.LETTER_FLOWS,
.ORIGINAL_CHECK_NUMBER,
.PRODUCT {
  width: 24.4%;
  margin: 2px auto;
}
.RENT_AMOUNT,
.LANDLORD_PHONE_NUMBER,
.PROP_OWNER_ADDRESS,
.PROP,
.PROP_LOAN_AMOUNT,
.PROP_OWNER_LENDER,
.PDF,
.GENERATE_DEBTOR_DOCUMENT_NOTIFICATIONS {
  width: 24.4% !important;
}
.GENERATE_DEBTOR_DOCUMENT_NOTIFICATIONS {
  min-width: 20% !important;
  height: auto;
}
.RELATIVE_1_PH1,
.RELATIVE_1_PH2,
.RELATIVE_1_PH3,
.RELATIVE_2_PH1,
.RELATIVE_2_PH2,
.RELATIVE_2_PH3,
.RELATIVE_3_PH1,
.RELATIVE_3_PH2,
.RELATIVE_3_PH3,
.RELATIVE_4_PH1,
.RELATIVE_4_PH2,
.RELATIVE_4_PH3,
.RELATIVE_5_PH1,
.RELATIVE_5_PH2,
.RELATIVE_5_PH3,
.TLO_ADDRESS,
.TLO_CITY,
.TLO_STATE,
.TLO_ADDRESS_2,
.TLO_CITY_2,
.TLO_STATE_2,
.TLO_POE,
.TLO_POE_NUMBER,
.EMPLOYER,
.ITEM_A,
.ITEM_B,
.ITEM_C,
.CO_SIGNER_FIRST,
.CO_SIGNER_LAST,
.CO_SIGN_SSN,
.ATTORNEY,
.BANKRUPTCY,
.DISCHARGED {
  width: 16.1%;
  margin: 2px auto;
}
.disposition {
  width: 33.3%;
}
.LANDLORD_PHONE_NUMBER {
  width: 11.2%;
}
.TLO_PHONE,
.TLO_PHONE_2,
.TLO_PHONE_3,
.TLO_PHONE_4,
.TLO_PHONE_5 {
  width: 13.9%;
  margin: 2px auto;
}
.TLO_PHONE:is(div),
.TLO_PHONE_2:is(div),
.TLO_PHONE_3:is(div),
.TLO_PHONE_4:is(div),
.TLO_PHONE_5:is(div) {
  width: 5%;
}
.CLIENT,
.CALL_DISPOSITIONS {
  width: 49.4%;
  margin-right: auto;
}
