:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: rgb(248, 250, 246);
}

a:hover {
  color: rgb(140, 197, 84);
}

body {
  min-width: 600px;
  min-height: 100vh;
  font-size: 14px;
  font-weight: 500;
  background-color: rgb(140, 197, 84);
  margin: 0;
}
.App {
  padding: 0vw 2vw;
}

button {
  background-color: blue;
  color: ghostwhite;
  transition: all 0.1s ease-in-out;
}

button:hover {
  transform: translateY(-0.5px);
  box-shadow: 0px 5px 10px rgb(54, 69, 105);
}

button:active {
  transform: translateY(0.5px);
  box-shadow: 0px 2px 5px rgb(54, 69, 105);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.account {
  display: flex;
  flex-wrap: wrap;
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  border: solid ghostwhite;
  border-radius: 10px;
  background-color: rgb(32, 35, 37);
  width: 100%;
}

.section {
  margin: 10px 0px;
  background-color: rgb(32, 35, 37);
  padding: 15px 0px;
}

.section > div {
  min-width: 100px;
  margin-right: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header,
.header2,
.header3 {
  display: flex;
  height: min-content;
  width: 100%;
  margin-bottom: 10px;
  user-select: none;
}

.header {
  justify-content: space-between;
  background-color: rgb(32, 35, 37);
  margin: 8px 0px 20px 0px;
  display: flex;
  outline: solid black;
  border-top: none;
  border-radius: 0 0 10px 10px;
}

.header > div:nth-of-type(1) {
  max-width: 22%;
  margin-right: 3%;
  margin: auto;
  font-size: 23px;
}
.logo {
  width: 20vw;
  height: 6vh;
  background-color: black;
  text-shadow: -1px -1px 0 gold, 1px -1px 0 gold, -1px 1px 0 gold,
    1px 1px 0 gold;
  color: black;
  font-family: "Permanent Marker", cursive;
}
.header > div:nth-of-type(2) {
  width: 50%;
  border-left: solid black;
}

.header > div:nth-of-type(3) {
  width: 25%;
  border-left: solid black;
}

.header2 {
  justify-content: space-evenly;
  background-color: #213547;
  outline: solid black;
  border-radius: 0px;
}

.header2 > div {
  width: auto;
}

.header3 {
  background-color: #213547;
  outline: solid black;
  border-radius: 0px !important;
}

.header3 > div {
  border-right: solid black;
  margin: 0px 20px;
  margin-left: 0;
  padding: 0px 20px;
  padding-left: 0px;
  background-color: #213547;
}

.header3 > div:nth-of-type(1) {
  padding-left: 20px;
}

input {
  width: 60px;
  overflow: hidden;
  text-align: center;
  height: min-content;
  margin: 0% 1.5%;
  color: ghostwhite;
  background-color: #242424;
  font-weight: 600;
  outline: solid rgb(140, 197, 84) 2px;
}

.two > div {
  width: 25%;
}

.four > div {
  width: 12.5%;
}

.five > div {
  width: 10%;
}

@media (min-width: 1000px) {
  .App {
    padding: 0vw 15vw;
  }
}

@media (min-width: 1500px) {
  .App {
    padding: 0vw 20vw;
  }
}

.title {
  width: 100%;
  background-color: #213547;
  border-radius: 10px;
  outline: solid black;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
    2px 2px 0 black;
  height: auto;
  font-size: x-large;
}

.header,
.header2,
.header3,
.section,
.notes,
.newNoteField,
.newNoteBtn,
.searchBarDiv,
.otherSites,
.title,
.accountFromList,
.footer {
  box-shadow: 5px 5px 10px #14171b, -5px -5px 10px #3b3c41;
  user-select: none;
}

.newNoteField,
.newNoteBtn,
.header3 {
  border-radius: 10px;
}

.notes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  outline: solid black;
}

.note,
.id,
.time {
  outline: solid black;
  font-weight: 400;
}

.note {
  width: 70%;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

.id {
  width: 10%;
  margin: 0;
  background-color: #213547;
}

.time {
  width: 20%;
  margin: 0;
  background-color: #3d4e5d;
}

.note {
  background-color: #213547;
}

.newNoteDiv {
  display: flex;
  justify-content: space-between;
}

.newNoteField {
  width: 75%;
  margin: 20px 0px;
  margin-right: 5%;
  background-color: ghostwhite;
  color: black;
}

.newNoteBtn {
  width: 20%;
  margin: 20px 0px;
}

.otherBg {
  background-color: black !important;
}

.a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.a > img {
  max-width: 40px;
  max-height: 40px;
}

.otherSites {
  height: 7vh;
  background-color: #213547;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  outline: solid black;
  margin-bottom: 10px;
}

.accountFromList {
  display: flex;
  justify-content: space-around;
  padding: 5px 0px;
  background-color: #14171b;
  outline: ghostwhite solid;
}

.searchBarDiv {
  background-color: rgb(54, 69, 105);
  display: flex;
  flex-wrap: wrap;
  outline: black solid;
  margin-bottom: 10px;
}

.searchBy {
  width: 27%;
  margin: 1.5%;
  display: flex;
  height: 3.3vh;
  margin-right: 0%;
  justify-content: space-around;
  align-items: center;
  border: solid black;
  outline: solid ghostwhite 2px;
}

.searchBy > label {
  min-width: max-content;
}

.searchBar {
  background-color: ghostwhite;
  color: black;
  width: 40%;
  padding: 0;
  height: 3.3vh;
  align-self: center;
  text-align: left;
  margin: 0;
  border: solid black;
  outline: solid ghostwhite 2px;
}

.searchBtn {
  width: 28%;
  margin: 1.5%;
  margin-left: 0%;
  height: 4vh;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  border-radius: 0px 10px 10px 0px;
  border: solid black;
  border-left: none;
  outline: solid ghostwhite 2px;
}

.results {
  width: 100%;
  height: max-content;
}
.notFound {
  background-color: #14171b;
  height: auto;
  outline: ghostwhite solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.notFound > h1 {
  width: 100%;
}
.notFound > div {
  width: 100%;
  margin-bottom: 30px;
}
.redColor {
  color: red;
}
.footer {
  bottom: 0;
  margin-top: auto;
  height: 5vh;
  width: 100%;
  background-color: #213547;
  border-top: solid black;
}
.homePage,
.aboutPage,
.accountsPage {
  min-height: 86.9vh;
}
